{$APP_SITE:http://app.localhost} {
  encode gzip zstd
  reverse_proxy app:3000
}

{$AUTH_SITE:http://auth.localhost} {
  encode gzip zstd

  redir / {$APP_SITE:http://app.localhost}/auth/login 302

  reverse_proxy keycloak:8080
}

{$VAULT_SITE:http://vault.localhost} {
  encode gzip zstd
  reverse_proxy vaultwarden:80
}
